@import url('https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans');

.site_wrapper {
  height: 100vh;
  color: #62bfad;
  background-color: #f9f7e8;

  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', 'Open Sans', sans-serif;
  font-weight: 600;
}

.header {
  padding-top: 4em;
}
